(
  resources: {},
  entities: {
    4294967296: (
      components: {
        "hedgeclog::level::definition::level_definition::LevelDescription": (
          level_grid: (((
            tile: Some(TileIdFloor),
            hedgehog: Some(HedegehogeTypeStandard),
          ), (
            tile: Some(TileIdFloor),
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          )), ((
            tile: Some(TileIdFloor),
            hedgehog: Some(HedegehogeTypeStandard),
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          )), ((
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          )), ((
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          )), ((
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          )), ((
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          )), ((
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          )), ((
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          )), ((
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          )), ((
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ), (
            tile: None,
            hedgehog: None,
          ))),
          uuid: "3c99f0b0-f30a-46ff-a2c9-d3f0b5e8c262",
        ),
      },
    ),
  },
)